<h2>Edit Author</h2>
<!-- Check in routes/authors -->
<form action="/authors/<%= author.id%>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <!-- We use a tag here because they are able to link things -->
  <a href="/authors/<%= author.id%>">Cancel</a>
  <button type="submit">Update</button>
</form>
